.page {
    background-image: linear-gradient(to bottom left, violet, blue);
    color: white;
    font-weight: bold;
}

.chat-container {
    background-color: black;
    color: white;
    margin: auto;
    width: 50%;
    border: 3px black;
    padding: 10px;
    font-weight: normal;
    overflow: scroll;
    height: 100vh;
    border-radius: 5px;
}

.chat-card {
    background-color: #555555;
    border-radius: 5px;
}

.user-info {
    color: grey;
}